{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "helpers": "./src/helpers",
        "middlewares": "./src/middlewares",
        "constants": "./src/constants",
        "locales": "./src/locales",
        "models": "./src/database/models",
        "swagger": "./src/swagger",
        "resources": "./src/resources"
      }
    }]
  ]
}
